<br/>
hello from the section file
<br/>

<h2>{{product.title}}</h2>
<img src="{{product.featured_image | img_url: "300x"}}"/>

{% if sections.settings.shows_reviews %}
<h4>⭐⭐⭐⭐⭐</h4>
{% endif %}

{%schema%}

{
    "name": "product page content",
    "settings": [
        {
            "id":"tax",
            "label":"tax-notice",
            "type": "text"
        },
        {
            "id":"shipping",
            "label":"shipping-notice",
            "type": "text"
        },
        {
            "id":"shows_reviews",
            "label":"show reviews?",
            "type": "checkbox"
        }
    ]
}

{%endschema%}
