    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>
    
    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

    <div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg"/>
            </div>
            <div class="testimonial-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, et autem possimus repellat voluptatibus velit doloremque!
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg"/>
            </div>
            <div class="testimonail-name"> John Doe </div>
        </div>
    </div>

{%schema%}

{
    "name": "testimonial slider",
    "settings": [],
    "presets": [
        {
            "name":"testimonial slider"
        }
    ]
}

{%endschema%}