<div class="coffee-indicator">
    {% render "icon-bean-filled"%}
    {% render "icon-bean-filled"%}
    {% render "icon-bean-filled"%}
    {% render "icon-bean-filled"%}
    {% render "icon-bean-empty"%}
</div>